//===== COLORS =====

//Variables - Proprietary Color
$cv-blue:				rgb(0,173,239);
$cv-green: 			rgb(122,184,0);
$cv-orange: 		rgb(255,88,0);
$cv-warm-gray: 	rgb(130,120,111);
$cv-cool-gray: 	rgb(200,200,200);
$cv-off-white: 	rgb(245,245,245);  //primarily for background
$cv-dark-gray: 	rgb(51,51,51);  //primarily for background

$yseali-dark-blue: rgb(37,62,148);